/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/RelogioSwing/dist/
/calculadoraidade/nbproject/private/
/calculadoraidade/build/
/calculadoraidade/dist/
